.app {
  font-family: "Basis Grotesque Pro", Arial, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;

  align-items: center;
  border: 1px solid gray;
  border-radius: 20px;
}
.logo {
  width: 150px;
  padding-left: 20px;
}

.nav-items > ul {
  display: flex;
  font-size: 20px;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.search-container {
  margin: 40px;
  text-align: center;
}
.search-input {
  padding: 10px 50px;
  border-radius: 50px;
}

.search-btn {
  margin: 5px;
  padding: 10px 25px;
  border-radius: 50px;
}

.search-btn:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.res-card {
  width: 300px;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
}

.res-logo {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* object-fit: cover; */
}
.img-container {
  border-radius: 20px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footer {
  margin-top: 40px;

  /* color: white; */
  /* background-color: rgb(2, 6, 12); */
  padding: 100px 100px;

  border: 1px solid gray;
  border-radius: 20px;
}

.footer-items {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.filter-btn {
  margin: 10px;
}
