* {
  text-align: center;
}
table {
  margin: auto;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.active {
  color: purple;
  font-size: x-large;
}

.header {
  position: sticky;
}

.btnSearch {
  background-color: aqua;
  margin: 2px;
  padding: px;
  margin-top:2px;
  color: black;
  border-radius: 2px;
}


.btnSearch:hover{
  background-color: gray;
  color: white;
  cursor: pointer;
}