*{
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  text-align: center;
  /* align-items: center; */
}

button{
  background-color: greenyellow;
  border-radius: 2rem;
  padding: 10px 50px 10px;
  margin: 10px;
  /* justify-content: stretch; */
}

button:hover{
  cursor: pointer;
}