.header {
  border-radius: 5px;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.border {
  padding: 5px;
  border: 2px black solid;
}

.header-title {
  padding-left: 40px;
  padding-right: 40px;
}
